@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

 body{
  font-family: 'Poppins', sans-serif !important;
  color: white !important;
}
h1, h2, h3, h4, h5{
  font-family: 'Poppins', sans-serif !important;

}


.MySwiper{
  width: 100%;
}
:root {
  --swiper-theme-color: #fff!important;
}